.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main {
  display: flex;
  height: 80vh;
}

.Main--Column {
  flex: 50%;
}

.Img-example-webhook {
  padding-top: 50px;
  width: 50vw;
}

.Img-example-webhook:hover {
  transform: scale(1.1);
  -webkit-filter: drop-shadow(0 0 10px #00a6ff);
  filter: drop-shadow(0 0 10px #00a6ff);
}